/* SETUP  */
@import 'setup/vars.css';
@import 'setup/fonts.css';

/* BASE */
@import 'basic/base.css';
/* @import 'basic/layout.css'; */
@import 'basic/helpers.css';
/* 
COMPONENTS
/* @import 'components/main-header.css'; */
@import 'components/card.css';
@import 'components/pages.css';
@import 'components/footer.css';
@import 'components/nav.css';
/* @import 'components/newsletter.css'; */

/* Media Queries */
@import 'basic/layout.css';
@import 'mq/mq.css';

/* @import 'mq/small.css'; */
