@media screen and (max-width: 880px) {
  /* nav  */

  .main-layout {
    width: 78rem;
    margin: 0 auto;
    padding-top: 1rem;

    border: none;
  }

  nav {
    height: 10rem;
    margin-bottom: 7.8rem;
    width: 100vw;
  }

  .main-nav {
    justify-content: space-between;
  }

  .nav-logo {
    margin-inline-start: 1em;
  }

  .nav-list .nav-link {
    line-height: 10rem;
  }

  /* card */

  .card {
    justify-content: space-between;
    margin-bottom: 7.8rem;
  }

  .card .img-card {
    flex-basis: 50%;
  }

  .text {
    flex-basis: 45%;
  }
  .card-title {
    font-size: 2.4rem;

    margin-bottom: 1.5rem;
  }
  .text p {
    line-height: 1.3em;
    margin-bottom: 1em;
  }

  .pages {
    width: calc(100vw);
    margin-left: calc(-50vw + 50%);
  }
}

@media screen and (max-width: 760px) {
  .main-layout {
    width: 600px;
  }
  .hamburger {
    color: white;
    background-color: var(--nav-bg);
    display: inline;
    border: none;
    font-size: 2.8rem;
    line-height: 10rem;
    flex-basis: 13rem;
    justify-self: end;

    transition: color, border, 0.3s;
  }

  .nav-list .nav-link {
    font-size: 1.4em;
    line-height: 6em;
  }

  .nav-list {
    position: fixed;
    right: 0;
    top: 0;
    flex-direction: column;
    background-color: rgb(255 255 255 / 90%);
    height: 100vh;
    border-block-end: 1px solid #ccc;

    transform: translateX(100%);

    transition: transform 0.4s, box-shadow 0.6s;
  }

  .nav-list .nav-link:hover {
    box-shadow: inset 4px 0px var(--green);
  }
  .hamburger:hover {
    box-shadow: inset 4px 0px var(--green);
  }

  .hamburger .nav-link {
    line-height: 6rem;
  }
  body.menu-toggle .nav-list {
    box-shadow: -6px 0px 17px rgb(0 0 0 / 19%);
    transform: translateX(0);
  }

  .main-nav .nav-list > * {
    border-block-end: 1px solid #ccc;
  }

  .main-nav .nav-list > *:not(:last-child) {
    margin: 0;
  }

  .card {
    margin: auto;
    width: 500px;
    flex-direction: column;
    margin-bottom: 13rem;
  }
  .img-card {
    margin-bottom: 3rem;
  }

  .text .card-title {
    /* text-align: center; */
  }

  .card .text {
    flex-basis: 37%;
  }
  .keep-reading {
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  .main-layout {
    width: 470px;
  }

  nav {
    height: 6rem;
  }
  .hamburger {
    line-height: 6rem;
    flex-basis: 8rem;
  }

  .nav-logo {
    font-size: 3rem;
  }

  .card {
    width: 400px;
  }
}

@media screen and (max-width: 500px) {
  .main-layout {
    width: 370px;
  }

  .card {
    width: 350px;
  }
}
