@media screen and (max-width: 880px) {
  .main-layout {
    width: 750px;
    padding-top: 1rem;
    border: none;
  }
  nav {
    margin-bottom: 7.8rem;
  }

  .nav-logo {
    margin-left: 2rem;
  }

  .nav-list .nav-link {
    line-height: 10rem;
  }

  /* card */

  .card {
    justify-content: space-between;
    margin-bottom: 13.8rem;
  }

  .card-title {
    font-size: 2.4rem;
  }
  .text p {
    line-height: 1.3em;
    margin-bottom: 1em;
  }

  .pages {
    width: calc(100vw);
    margin-left: calc(-50vw + 50%);
  }

  /* modal */

  .modal {
    width: 80%;
  }
}

@media screen and (max-width: 760px) {
  .main-layout {
    width: 600px;
  }

  .nav-logo {
    margin-left: 3rem;
  }
  .hamburger {
    color: white;
    background-color: var(--nav-bg);
    display: inline;
    border: none;
    font-size: 2.8rem;
    line-height: 10rem;
    flex-basis: 13rem;
    justify-self: end;
    transition: color, border, 0.3s;
  }

  .nav-list {
    position: fixed;
    right: 0;
    top: 0;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.172);
    backdrop-filter: blur(4px);
    height: 100vh;
    transform: translateX(100%);
    transition: transform 0.4s, box-shadow 0.6s;
  }

  .nav-list .nav-link {
    border-block-end: 0.1px solid rgb(9, 9, 9);
    font-size: 1.4em;
    line-height: 6em;
  }

  .nav-list .nav-link:hover {
    box-shadow: inset 4px 0px var(--green);
  }
  .hamburger:hover {
    box-shadow: inset 4px 0px var(--green);
  }

  body.menu-toggle .nav-list {
    box-shadow: -6px 0px 17px rgb(0 0 0 / 19%);
    transform: translateX(0);
  }

  .card {
    flex-direction: column;
    margin-bottom: 13rem;
  }
  .img-card {
    margin-bottom: 3rem;
  }
  .card .text {
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .main-layout {
    width: 470px;
  }

  nav {
    height: 6rem;
  }
  .hamburger {
    line-height: 6rem;
    flex-basis: 8rem;
  }

  .nav-logo {
    font-size: 3rem;
  }

  .card {
    width: 400px;
  }
}

@media screen and (max-width: 500px) {
  .main-layout {
    width: 370px;
  }

  .card {
    width: 350px;
  }
}
