* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
  color: white;
}

/* body {

} */

h1,
h2 {
  font-size: 2.8rem;
  font-weight: bold;
  color: var(--txt-clr);
}

h3 {
  color: var(--txt-clr);
  font-size: 1.3rem;
  font-weight: 400;
}

img {
  /* this is for responsive images */
  width: 100%;
}

li {
  font-size: 1.6rem;
  font-weight: bold;
}

p {
  color: var(--txt-clr);
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: var(--txt-clr);
}
