.card {
  justify-content: space-between;
  margin-bottom: 7.8rem;
}
.card .img-card {
  flex-basis: 50%;
}

.text {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-inline-start: 2rem;
}

.card-title {
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.text p {
  line-height: 1.3em;
  margin-bottom: 1.5em;
}
