.footer {
  background-color: var(--footer-bg);
  text-align: center;
  border-top: solid var(--gray) 0.01rem;
}

.footer-logo {
  color: black;
  padding: 5rem;
}
.footer-logo span {
  color: var(--green);
}
.footer-credits {
  margin-bottom: 3rem;
}

.footer-credits span {
  font-weight: 700;
}

.footer-list {
  width: 23rem;
  margin: auto;
  justify-content: space-between;
  padding-bottom: 7rem;
}

.footer-list .icon {
  justify-content: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: var(--gray);
}
.facebook:hover {
  background-color: #4267b2;
}

.twitter:hover {
  background-color: #1da1f2;
}
.behance:hover {
  background-color: #0057ff;
}

.basketball:hover {
  background-color: #ffaa00;
}
