.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;

  border-radius: 2rem;

  background-color: white;
  z-index: 3;

  color: var(--gray);
}

.modal h2 {
  margin-bottom: 2rem;
  text-align: center;
}

.modal .input {
  margin: 1rem;
  color: rgb(40, 39, 39);
}
