nav {
  background-color: var(--nav-bg);

  margin: auto;

  justify-content: center;
}

.main-nav {
  width: 95rem;
  justify-content: space-between;
}

.nav-logo {
  color: white;
  flex-basis: 50%;
}
.logo span {
  color: var(--green);
}

.nav-list {
  flex-basis: 50%;
  z-index: 4;
}

.nav-list .nav-link {
  cursor: pointer;
  text-align: center;
  width: 13rem;
  line-height: 13rem;
  background-color: var(--nav-bg);
  border-inline-end: solid black 0.1rem;
  transition: color, 0.3s;
}
.nav-list .nav-link:first-child {
  border-inline-start: solid black 0.1rem;
}

.nav-link:hover {
  color: var(--green);
  box-shadow: inset 0px -7px var(--green);
}

/* dropdown  */

.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  font-size: 1.6rem;
  line-height: 1.3em;
  padding-left: 2rem;
  text-align: end;

  display: block;
  color: white;
  background-color: var(--nav-bg);
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  box-shadow: inset 5px 0px var(--green);

  color: var(--green);
}
