@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
  --green: #58c93a;
  --gray: #c2c1c1;
  --main-border: #e1e0e0;
  --page-txt-clr: #818181;
  --nav-link-bg-clr: #232222;
  --nav-bg: #292929;
  --title-clr: #4f4e4e;
  --txt-clr: #606060;
  --footer-bg: #f8f8f8;
}
